.br{
    background-color: #4134f3;
    border: none;
    color: #ffffff;
    padding: 15px 32px ;
    text-decoration-line: none;
    font-size: 1.4rem;
    border-radius: 12px;
    font-family: sans-serif;
    width: 120px;

}